<div id="<%= dom_id feedback %>">
  <p>
    <strong>First name:</strong>
    <%= feedback.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= feedback.last_name %>
  </p>

  <p>
    <strong>Identification number:</strong>
    <%= feedback.identification_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= feedback.email %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= feedback.company %>
  </p>

  <p>
    <strong>Enjoyment experience rating:</strong>
    <%= feedback.enjoyment_experience_rating %>
  </p>

  <p>
    <strong>Benefit discovery rating:</strong>
    <%= feedback.benefit_discovery_rating %>
  </p>

  <p>
    <strong>Interaction participation rating:</strong>
    <%= feedback.interaction_participation_rating %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= feedback.notes %>
  </p>

</div>
